@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Maps info window */
.gm-style-iw-ch {
  padding: 0;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.gm-style-iw {
  width: 170px !important;
}

.gm-style-iw button {
  width: 30px !important;
}

.gm-style-iw button span {
  margin: 3px !important;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  h1 {
    @apply text-xl leading-[50px] font-bold text-black;
  }

  .header-info {
    @apply font-sans text-xl font-semibold text-black;
  }

  h3 {
    @apply text-xl font-semibold leading-[50px] text-black;
  }

  h4 {
    @apply text-[15px] leading-[15px] font-semibold text-black tracking-[-0.25px];
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}

@layer utilities {}