@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Maps info window */
.gm-style-iw-ch {
  padding: 0;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.gm-style-iw {
  width: 170px !important;
}

.gm-style-iw button {
  width: 30px !important;
}

.gm-style-iw button span {
  margin: 3px !important;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #f3f4f6;
  }
}

@layer components {
}

@layer utilities {
}
